.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 100%;
  flex-grow: 1;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
}

@media (min-width: 640px) {
  .formGrid {
    gap: 1.25rem;
  }
}

.textareaWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input, .textarea {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #E5E7EB;
  padding: 1.25rem;
  font-size: 1rem;
  font-family: inherit;
  background-color: #FAFAFA;
  transition: all 0.2s ease;
  outline: none;
  color: #1F2937;
}

.textarea {
  resize: none;
  flex-grow: 1;
  min-height: 10rem;
}

.input::placeholder, .textarea::placeholder {
  color: #9CA3AF;
}

.input:focus, .textarea:focus {
  border-color: #D1D5DB;
  background-color: #FFFFFF;
}

.inputError {
  border-color: #ef4444;
}

.btnPrimary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.25rem;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  font-weight: 700;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
  gap: 0.75rem;
  background: linear-gradient(135deg, #FFD23F 0%, #FFA726 100%);
  color:rgba(45, 49, 66, 1);
  margin-top: auto;
  box-shadow: 0 10px 15px -3px rgba(255, 210, 63, 0.2);
}

.btnPrimary:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #FFD23F 0%, #FFB74D 100%);
  box-shadow: 0 8px 20px 1px rgba(125, 125, 125, 0.35);
}

.btnPrimary:active {
  transform: translateY(0);
  box-shadow: 0 5px 10px -3px rgba(255, 167, 38, 0.2);
}


.sendIcon {
  transition: transform 0.3s ease;
}

.btnPrimary:hover .sendIcon {
  transform: translateX(4px);
}

.errorBox {
  color: #ef4444;
  font-size: 0.875rem;
  background-color: #fee2e2;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.successBox {
  text-align: center;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
}

.successEmoji {
  font-size: 2.25rem;
}

.successTitle {
  font-size: 1.125rem;
  font-weight: 600;
  color: #0f1117;
}

.successSub {
  color: #868e96;
}

.resetBtn {
  color: #f59e0b;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
}

.resetBtn:hover {
  color: #d97706;
}

